{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col s12">
      <h5 class="center-align">Edit recipe</h5>
      <p class="center-align">Wanting to update or correct your recipe? You can do that here.</p>
    </div>
  </div>
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
      <div class="card-panel">
        <!-- recipe name -->
        <div class="row">
          <div class="input-field col s12">
            <label for="recipe_name">Recipe name</label>
            <input id="recipe_name" name="recipe_name" class="form-control" type="text" data-length="50" minlength="5"
              maxlength="50" value="{{ recipe.recipe_name }}" class="validate" required>
          </div>
        </div>
        <!-- Introduction -->
        <div class="row">
          <div class="input-field col s12">
            <label for="recipe_overview">Introduction</label>
            <textarea id="recipe_overview" name="recipe_overview" class="form-control" data-length="200" minlength="5"
              maxlength="200" class="materialize-textarea validate" required>{{ recipe.recipe_overview }}</textarea>
          </div>
        </div>
        <!-- Preparation time -->
        <div class="row">
          <div class="input-field col s12">
            <label for="recipe_preparation_time">Preparation time in minutes</label>
            <input id="recipe_preparation_time" name="recipe_preparation_time" class="form-control" type="number"
              min="1" max="180" value="{{ recipe.recipe_preparation_time }}" class="validate" required>
          </div>
        </div>
        <!-- Servings -->
        <div class="row">
          <div class="input-field col s12">
            <label for="recipe_servings">Servings</label>
            <input id="recipe_servings" name="recipe_servings" class="form-control" type="number" min="1" max="20"
              value="{{ recipe.recipe_servings }}" class="validate" required>
          </div>
        </div>
        <!-- Ingredients -->
        {% for ingredient in recipe.recipe_ingredients %}
        <div class="row">
          <div class="input-field col s12">
            <label for="recipe_ingredients{{ loop.index }}">Ingredient</label>
            <input id="recipe_ingredients" name="recipe_ingredients" class="form-control" type="text" data-length="150"
              minlength="2" value="{{ ingredient }}" maxlength="150" class="validate" required>
            <a type="button" class="right btn-small btn-red-ingredient remove_ingredient">
              <i class="fas fa-minus"></i> Remove ingredient</a>
          </div>
        </div>
        {% endfor %}
        <div class="row list_of_ingredients">

        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="right btn-small btn-green-ingredient add_ingredient">
              <i class="fas fa-plus"></i>
              Add ingredient
            </a>
          </div>
        </div>
        <!-- Instruction -->
        {% for step in recipe.recipe_instruction %}
        <div class="row">
          <div class="input-field col s12">
            <label for="recipe_instruction{{ loop.index }}">Instruction</label>
            <input id="recipe_instruction" name="recipe_instruction" class="form-control" type="text" data-length="500"
              minlength="5" value="{{ step }}" maxlength="500" class="validate" required>
            <a type="button" class="right btn-small btn-red-ingredient remove_instruction_step">
              <i class="fas fa-minus"></i> Remove instruction step</a>
          </div>
        </div>
        {% endfor %}
        <div class="row list_of_instruction_steps">

        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="right btn-small btn-green-ingredient add_instruction_step">
              <i class="fas fa-plus"></i>
              Add instruction step
            </a>
          </div>
        </div>
        <!-- Images -->
        <div class="row">
          <h6 class="center-align">You can upload max 2 images</h6>
          <div class="input-field col s12">
            <label for="recipe_image_1">Place your first image url here</label>
            <input id="recipe_image_1" name="recipe_image_1" class="form-control" type="url"
              value="{{ recipe.recipe_image_1 }}" class="validate" required>
          </div>
          <div class="input-field col s12">
            <label for="recipe_image_2">Place your 2nd image url here</label>
            <input id="recipe_image_2" name="recipe_image_2" class="form-control" type="url"
              value="{{ recipe.recipe_image_2 }}" class="validate">
          </div>
        </div>
        <!-- Edit recipe save button -->
        <div class="row bottom-margins">
          <div class="col s12 center-align">
            <button type="submit" class="btn btn-info center-align">
              Save edited recipe </button>
          </div>
          <div class="col s12 center-align">
            <!-- Cancel button -->
            <button data-target="delete_modal{{ recipe._id }}" type="button"
              class="modal-trigger btn btn-info center-align center-align recipe-margins">
              Cancel </button>
            <!-- Edit Recipe Modal -->
            <div id="delete_modal{{ recipe._id }}" class="modal">
              <div class="modal-content">
                <h4 class="card-header">Pay attention!</h4>
                <p class="center-align">
                  You are about to cancel the changes you made in your recipe, this can not be undone!
                  Are you sure you want to quit editing this recipe?
                </p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn-flat">
                  <span class="text-keep">No, keep editing!</span>
                </a>
                <a href="{{ url_for('get_recipes') }}" data-target="{{ recipe._id }}"
                  class="modal-action modal-close btn-flat">
                  <span class="text-delete">Yes, cancel!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}