{% extends "base.html" %}
{% block content %}
<!-- hero & search-->
<header>
    <section id="hero-section">
        <div class="container-fluid">
            <div class="row text-center pt-5">
                <div class="col-md-5 p-lg-5 mx-auto white-text" id="hero-content-col">
                    <h1 class="display-4 fw-normal pb-2">Gluten free &amp; you</h1>
                    <h4 class="pb-3">Everyday recipes to support changes in your lifestyle</h4>
                    <form action="{{ url_for('search') }}" method="POST">
                        <div class="row input-field">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            </div>
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <button type="submit" class="btn btn-primary">Search Recipes</button>
                            </div>
                            <div>
                                <button class="btn btn-primary" href="{{ url_for('get_recipes') }}">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>
<!-- Recipe list -->
<section id="recipe-overview" class="pb-5">
    <div class="container">
        {% if recipes|length > 0 %}
        {% for recipe in recipes %}
        <div class="row text-center">
            <div class="col">
                <div class="card">
                    <h3 class="card-title py-3">{{ recipe.recipe_name }}</h3>
                    <img class="card-img-top" src="{{ recipe.recipe_image_1 }}" alt="Image of {{ recipe.recipe_name }}"
                        loading="lazy">
                    <div class="card-body">{{ recipe.recipe_introduction }}
                        <p class="card-text">
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="{{ url_for('specific_recipe', recipe_id=recipe._id) }}" class="btn btn-primary"
                                type="button">Get recipe</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
</section>
<h3 class="bottom-margins no-results-text center-align">No recipes were found</h3>
{% endif %}
{% endblock %}