{% extends "base.html" %}
{% block content %}
<section id="about-hero">
   <div class="container-fluid">
      <div class="row text-center pt-5">
         <div class="col-md-5 p-lg-5 mx-auto white-text" id="hero-content-col">
            <h1 class="display-4 fw-normal pb-2">About us</h1>
            <h4 class="pb-3">Making a gluten free diet easier for both you and your family</h4>
         </div>
      </div>
   </div>
</section>
</section>
<section id="about-us" class="pb-5">
   <div class="container text-center">
      <div class="row text-center py-5">
         <div class="col">
            <h2 class="display-5 fw-bold orange-color">How it all started</h2>
         </div>
      </div>
      <div class="row text-center pb-4">
         <div class="col-12">
            <h5>After a lifetime of intermittent eczema, a blood test finally told me that I was intolerant to wheat,
               most probably gluten, amongst a couple of other
               items.
            </h5>
            <p>Gluten is the general term for a group of proteins found in grains such as wheat, barley, and rye.
               Gluten
               acts as the “glue” that holds the grain together and allows it to keep its shape. Gluten can be found
               in
               breads, pastas, doughs, baked goods, cereals, and more unsuspecting places like cross-contaminated
               oats,
               soy sauce, salad dressings, condiments, deli meats, cheeses, fried foods, candy, alcohol, medications,
               supplements, cosmetics, and more. If you’re trying to avoid gluten, then paying attention to food
               labels is a must.
            </p>
            <a class="btn btn-primary" href="{{ (url_for('get_recipes')) }}">Search our recipes</a>
         </div>
      </div>
   </div>
   </div>
</section>
{% endblock %}
