<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
      crossorigin="anonymous" type="text/css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
   </script>
   <title>Gluten Free &amp; Me</title>
</head>
<body>
   <!-- Navigation-->
   <header>
      <nav class="navbar navbar-expand-lg navbar-light">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">
               <img src="./static/img/company-logo.png" class="d-none d-sm-block" alt="Company Logo" width="120"
                  height="120"></a>
            <img src="./static/img/company-logo-mob.png" class="d-block d-sm-none" alt="Company Logo" width="50"
               height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{{ (url_for('index')) }}">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ (url_for('about')) }}">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ (url_for('get_recipes')) }}">Recipes</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ (url_for('register')) }}">Register</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ (url_for('login')) }}">Login</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>

   <!-- flash messages -->
   <section>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="row flashes">
         <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
   </section>
   <!-- Main Content-->
   <main class="container">
      {% block content %}
      {% endblock %}
   </main>
   <!-- Footer-->
   <footer class="border-top">
      <div class="container px-4 px-lg-5">
         <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
               <ul class="list-inline text-center">
                  <li class="list-inline-item">
                     <a target="_blank" href="https://twitter.com" rel="noreferrer">
                        <span class="fa-stack fa-lg">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="https://en-gb.facebook.com/" rel="noreferrer">
                        <span class="fa-stack fa-lg">
                           <i class="fas fa-circle fa-stack-2x"></i>
                           <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                        </span>
                     </a>
                  </li>
               </ul>
               <div class="small text-center text-muted fst-italic">Copyright &copy; Kelly Anne McClean <span
                     id="copyright"></span></div>
            </div>
         </div>
      </div>
   </footer>
   <!-- Bootstrap core JavaScript -->
   <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
   <!-- Custom scripts for this template -->
   <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
   <script>
      $("#copyright").text(new Date().getFullYear());
   </script>
</body>
</html>