{% extends "base.html" %}
{% block content %}
<section id="hero-section">
    <div class="container-fluid">
        <div class="row text-center pt-5">
            <div class="col-md-5 p-lg-5 mx-auto white-text" id="hero-content-col">
                <h1 class="display-4 fw-normal pb-2">Gluten free &amp; you</h1>
                <h4 class="pb-3">Everyday recipes to support changes in your lifestyle</h4>
            </div>
        </div>
    </div>
</section>
<!--Onsite Overview-->
<section id="community-overview" class="pb-5">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col">
                <h2 class="display-5 fw-bold">Your community awaits</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <h3 class="card-title py-3">Everyday recipes</h3>
                    <img class="card-img-top" src="{{ url_for('static', filename='img/food-hp.png') }}"
                        alt="Example of gluten free food">
                    <div class="card-body">We aim to take the fuss out of going gluten free, putting you in control of
                        your diet.
                        <p class="card-text">
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="btn btn-primary" href="{{ (url_for('get_recipes')) }}">Search
                                recipes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <h3 class="card-title py-3">Supports for you</h3>
                    <img class="card-img-top" src="./static/img/support-hp.png" alt="Support for coeliacs">
                    <div class="card-body">We understand our community won't have all the answers, so we'll also
                        signpost other supports too.
                        <p class="card-text">
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="btn btn-primary" href="https://www.coeliac.org.uk/home/">Visit
                                coeliac.org.uk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact us / feeback panel-->
<section id="contact-us" class="pb-5">
    <div class="container text-center">
        <div class="row text-center py-5">
            <div class="col">
                <h2 class="display-5 fw-bold orange-color">Didn't find what you were looking for?</h2>
            </div>
        </div>
        <div class="row text-center pb-4">
            <div class="col-12">
                <h5>Please leave us your feedback and we'll be in touch.</h5>
            </div>
        </div>
        <div class="row">
            <form id="form">
                <div class="field">
                    <label for="from_email"></label>
                    <input type="text" class="form-control" name="from_email" id="from_email"
                        placeholder="Your email" />
                </div>
                <div class="field">
                    <label for="message"></label>
                    <input type="text" class="form-control" name="message" id="message" placeholder="Your message" />
                </div>
                <input type="submit" class="btn btn-primary contact-btn" id="button" value="Contact me" />
            </form>
            <br />
        </div>
    </div>
</section>
{% block contact_us_js %}
<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script src="{{ url_for('static', filename='js/contact_us.js') }}"></script>
{% endblock %}
{% endblock %}