{% extends "base.html" %}
{% block content %}
<section id="hero-section">
    <div class="container-fluid">
        <div class="row text-center pt-5">
            <div class="col-md-5 p-lg-5 mx-auto white-text" id="hero-content-col">
                <h1 class="display-4 fw-normal pb-2">Gluten free &amp; you</h1>
                <h4 class="pb-3">Everyday recipes to support changes in your lifestyle</h4>
                <a class="btn btn-primary" href="">Find out more</a>
            </div>
        </div>
    </div>
</section>
</section>
<section id="community-overview" class="pb-5">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col">
                <h2 class="display-5 fw-bold">Your community awaits</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <h3 class="card-title py-3">Your recipes are a click away</h3>
                    <img class="card-img-top" src="./static/img/home-bg.jpg" alt="Support businesses on social media">
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                        <p class="card-text">
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <h3 class="card-title py-3">Your recipes are a click away</h3>
                    <img class="card-img-top" src="./static/img/home-bg.jpg" alt="Support businesses on social media">
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                        <p class="card-text">
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <h3 class="card-title py-3">Your recipes are a click away</h3>
                    <img class="card-img-top" src="./static/img/home-bg.jpg" alt="Support businesses on social media">
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                        <p class="card-text">
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}